# Sanity CMS - Bu değerleri sanity.io'dan alacaksınız
NEXT_PUBLIC_SANITY_PROJECT_ID=buraya_project_id_gelecek
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

# Spark revenue dashboard
SPARK_PASSWORD=
HUBSPOT_ACCESS_TOKEN=
SPARK_SHEET_ID=1Yc-CO6QHlgOhVyvuuAp_2Oh4Ywm3kYKkfjFyZevfhyU
SPARK_CRON_SECRET=
AMPLEMARKET_API_KEY=
AMPLEMARKET_WEBHOOK_SECRET=
